
html {
    display: flex;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: .4rem;
    width: 1000px;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
}

h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .6rem;
    font-weight:600;
}

h3 {
    font-size: larger;
    font-weight: 550;
    margin-bottom: .5rem;
}

p {
    margin-bottom: .3rem;
}


header {
    background-image: url(../ressources/cloudscape.png); 
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 200px;
}

.column-container {
    display: flex;
    justify-content: space-between;    
}

.left-column, .right-column {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.left-column {
    width: 60%; 
    background-color: rgba(216, 88, 48, 0.35);
}

.right-column {
    width: 40%;
    background-color: rgb(81 131 153 / 47%);;
}


.info-card {
    margin-bottom: 1rem;
}

.image-with-border {
    margin-top: 5rem;
    margin-right: 1rem;
    width: 270px;
    position: absolute right;
    float: right;
    z-index: 0;
}

/*Apperçu mobile*/

@media only screen and (max-width: 450px ){

    body {
        padding: 0;
    }

    .column-container {
        flex-direction: column;
    }

    .left-column, .right-column {
        /*display: inline-flex;*/        
        width: auto;
        padding: 1rem 1rem 1rem 2.5rem;
    }

    header {
        background-image: url(../ressources/concept-cloud-creatif-dans-cube-verre-infrastructure-metaverse-numerique-cloudscape\ 1.png);
        height: 100px;
    }

    .image-with-border {
        width: 120px;
        margin-top: 1rem;
        margin-left: auto;
    }

}